<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard">My first online shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/history">Istoric comenzi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/cart">Cos
          <span th:text="${cartItemsNo}"></span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form action="logout" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>

COS

<div class = "container mt4">
  <div class="mx-auto" style="max-width: 700px;">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>brand</th>
        <th>pret per unitate</th>
        <th>categorie</th>
        <th>cantitate</th>
        <th>pret total x cantitate</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="p:${productList}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.brand}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.category}"></td>
        <td th:text="${p.cantitate}"></td>
        <td th:text="${p.pretTotal}"></td>

      </tr>
      </tbody>
    </table>
    <p> total pret cos este:</p>
    <p th:text ="${totalPretComanda}"></p> <p>RON</p>
    <form action="/sendOrder" method="post">
      <button type="submit">Trimite comanda</button>
    </form>


  </div>
</div>
</body>
</html>